---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		{{ page.content }}

		<!-- If disqusUsername declared -->
		{% if site.data.settings.social_settings.disqus_username != "" %}

		<!-- Full width -->
		<div class="full">

			<!-- Disqus -->
			<div id="disqus_thread" class="mt mb"></div>
			<script async src="//{{ site.data.settings.social_settings.disqus_username }}.disqus.com/embed.js"></script>

		</div><!-- .full -->

		{% endif %}

	</div>

</section>